/* ================================================
            Website Resets
=================================================== */
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

*::-moz-focus-inner {
   border: 0 !important;
}

*:focus {
   outline: none !important;
}

/* ==========================================
               Root, Html, and Body
============================================= */
:root {
   --clr-primary: #5f27cd;
   --clr-primary-light: #f4eeff;
   --clr-secondary: #6c63ff;
   --clr-black: #262626;
   --clr-white: #ffffff;

   --ff-body: 'Poppins', sans-serif;
   --ff-heading: 'Playfair Display', serif;
   --ff-accent: 'Oswald', sans-serif;

   --padding-lg: 45px 0;
   --padding-sm: 10px 0;
}

html,
body {
   margin: 0;
   padding: 0;
}

body {
   font-family: var(--ff-body);
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5em;
}

/*=============================================
         common styles
================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--ff-heading);
   line-height: 1.3em;
   font-weight: 700;
   margin: 0 0 15px;

}

p {
   font-family: var(--ff-body);
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5em;
   margin: 0 0 15px;

}

nav {
   font-family: var(--ff-accent);
}

.container {
   width: 96%;
   max-width: 1440px;
   margin: 0 auto;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   transition: 0.5s;
   text-decoration: none;
}

.btn {
   letter-spacing: 1px;
   color: #fff;
   background: var(--clr-primary);
   padding: 12px 35px;
   display: inline-block;
   transition: 0.5s;
}

.btn:hover {
   background: var(--clr-black);
   transform: scale(1.03);
}

/*=============================================
         mobile menu
================================================*/
.slicknav_menu {
   background: none;
   padding: 0px;
   position: fixed;
   top: 0;
   right: 0;
   
   /* font-size: 48px;
   text-align: center; */


      display: none;
}

.slicknav_menu .slicknav_menutxt {
   /* font-size: 48px;
   text-align: center; */

      display: none;
}

.slicknav_menu .slicknav_icon {
   margin: 0;
   /* font-size: 24px !important; */
}

.slicknav_btn {
   background-color: var(--clr-black);
   background-color: var(--clr-primary);
}

.slicknav_nav {
   position: fixed;
   width: 60%;
   height: 100%;
   left: 0;
   top: 0;
   background: var(--clr-black);
   background: var(--clr-primary);
}

.slicknav_nav ul li {
   /*    display: block; */
}

/*=============================================
         top header area
================================================*/
#top_header_area {
   background: var(--clr-primary);
   padding: var(--padding-sm);
   color: #fff;
}

#top_header_area .container {
   display: flex;
}

.contact_info {
   flex-basis: 60%;
   display: flex;
   padding-top: 6px;
   letter-spacing: 1px;
}

.contact_info p {
   margin-right: 35px;
   margin-bottom: 0;
}

.contact_info i {
   margin-right: 4px;
}

.social_area {
   flex-basis: 40%;
}

.social_area ul {
   margin: 0;
   padding: 0;
   list-style: none;
   text-align: right;
}

.social_area li {
   display: inline-block;
   margin-left: 12px;
}

.social_area a {
   background: #fff;
   color: var(--clr-black);
   display: block;
   width: 35px;
   height: 35px;
   text-align: center;
   padding-top: 6px;
   border-radius: 50px;
   transition: 0.5s;
}

.social_area a:hover {
   color: var(--clr-primary-light);
   background: var(--clr-black);
   transform: scale(1.15);

}

/*=============================================
         main head
================================================*/
#main_head {
   width: 100%;
   padding: 10px 0;
}

#main_head .container {
   display: flex;
}

.logo_area {
   padding: 15px 0 10px;
   flex-basis: 20%;
}

/* .logo_area h1 {
   font-size: 45px;
}

.logo_area h1 a {
   color: var(--clr-black);
   text-transform: uppercase;
}

.logo_area span {
   color: var(--clr-primary);
   font-size: 60px;
}
 */
/*=============================================
         main menu
================================================*/
#main_menu {
   flex-basis: 80%;
   margin-top: 30px;
}

#main_menu ul {
   margin: 0;
   padding: 0;
   list-style: none;
   text-align: right;
}

#main_menu li {
   display: inline-block;
   margin-right: 10px;
}

#main_menu li:nth-last-child(1) {
   margin-right: 0;
}

#main_menu a {
   padding: 10px 25px;
   display: block;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #262626;
}

#main_menu a:hover {
   background: var(--clr-primary);
   color: var(--clr-white);
}

/*=============================================
         banner or hero area
================================================*/
#banner_area {
   background: var(--clr-primary-light);
   padding: var(--padding-lg);
}

#banner_area .container {
   display: flex;
   align-items: center;
}

.banner_text {
   flex-basis: 40%;
   order: 1;
   letter-spacing: 1px;
}

.banner_text h2 {
   font-size: 35px;
}

.banner_image {
   flex-basis: 60%;
   order: 2;
}

/*=============================================
         service area
================================================*/
#service_area {
   padding: var(--padding-lg);
}

#service_area .container.title {
   display: block;
   margin-bottom: 32px;
   letter-spacing: 1px;
}

#service_area .container {
   display: flex;
   text-align: center;
   justify-content: space-around;
}

#service_area h2 {
   font-size: 35px;
   margin-bottom: 20px;
}

#service_area h3 {
   font-size: 25px;
   letter-spacing: 1px;
}

.child_service {
   padding: 20px;
   border: 1px solid rgb(236, 233, 233);
   box-shadow: 0 0 10px rgb(236, 233, 233);
   flex-basis: 32%;
}

.child_service i {
   color: var(--clr-primary);
   font-size: 48px;
   padding: 35px 0 15px;
}

/*=============================================
         contact area
================================================*/
#contact_area {
   padding: var(--padding-lg);
   background: var(--clr-primary-light);
}

#contact_area .container.title {
   display: block;
   margin-bottom: 32px;
   text-align: center;
   letter-spacing: 1px;
}

#contact_area h3 {
   font-size: 35px;
}

#contact_area .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.contact_form {
   flex-basis: 48%;
}

.contact_form label {
   display: block;
   margin-bottom: 8px;
   letter-spacing: 1px;
}

.contact_form input,
.contact_form textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #ddd;
   margin-bottom: 16px;
   font-family: var(--ff-body);
   font-size: 16px;
   letter-spacing: 1px;
}

.contact_form textarea {
   min-height: 150px;
   letter-spacing: 1px;
}

.contact_form input[type="submit"] {
   width: 240px;
   background: var(--clr-primary);
   border: 0;
   color: var(--clr-white);
   font-size: 16px;
   letter-spacing: 1px;
   padding: 15px;
   cursor: pointer;
   transition: 0.5s;
}

.contact_form input[type="submit"]:hover {
   background: var(--clr-black);
   transform: scale(1.03);
}

.contact_map {
   flex-basis: 50%;
}

.contact_map iframe {
   width: 100%;
   border: 0;
   height: 650px;
}


/*=============================================
         footer area
================================================*/
#footer_area {
   background: var(--clr-primary);
   padding: 24px 0;
   text-align: center;
}

#footer_area p {
   margin: 0;
   color: #fff;
   letter-spacing: 1px;
}